{% extends "bootstrap_layout.html" %}

{% block content %}

    <h1 style="color: #df4759;">About Formula One Fever</h1>

    <p>This project is designed to create a safe space for Formula 1 Fans to bet on which driver will win a given Grand Prix, and does NOT require real money to be wagered. 
        Users can select a Grand Prix race to bet on, and input their bets on who will the winner be. 
        After the Grand Prix race, this project will showcase the results of the race, such as driver rankings and race times.</p>

    <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2022manual/2022Races/EmiliaRomagnaGP/MicrosoftTeams-image%20(9).jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Are Ferrari ready to win the World Championship in 2022? | Formula 1®" data-noaft="1" style="width: 450px; height: 253.125px; margin: 0px;">
    
    
    
    <h2 style="color: #df4759;">About Us</h2>

    <p>Chloe Hwang, Frank Jeung, and Asia Rupert are three students at Georgetown University who have created this platform as a freestyle project for their OPIM 244 class.
        Shoutout Professor Rossetti, who taught our Management of Software Development in Python course!</p>



   

{% endblock %}


