{% extends "bootstrap_layout.html" %}

{% block content %}

    <h1>About Me</h1>

    <p>This project is designed to create a safe space for Formula 1 Fans to bet on which driver will win a given Grand Prix, and does NOT require real money to be wagered. 
        Users can select a Grand Prix race to bet on, and input their bets on who will the winner be. 
        Users can also choose to invite other players to place wagers via email.
        After the Grand Prix race, this project will showcase the results of the race, such as driver rankings and race times.</p>

{% endblock %}


