
{% block content %}

    <h2>Bet now</h2>

    <form action="/betting/results" method="POST">

        <label>Name:</label>
        <input type="text" name="name" placeholder="John Smith" value="John Smith">
        <br>

        <label>E-mail:</label>
        <input type="text" name="email" placeholder="js123@georgetown.edu" value="js123@georgetown.ed">
        <br>

        <label>Age:</label>
        <input type="text" name="age" placeholder="21" value="21">
        <br>

        <label>Winner:</label>
        <input type="text" name="winner_user_input" placeholder="Lewis Hamilton" value="Lewis Hamilton">
        <br>

        <label>$ amt for bet:</label>
        <input type="text" name="amount" placeholder="5" value="5">
        <br>

        <label>Season:</label>
        <input type="text" name="season" placeholder="2022" value="2022">
        <br>

        <label>Winner:</label>
        <input type="text" name="round" placeholder="1" value="1">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}