{% extends "bootstrap_layout.html" %}

{% block content %}

    <h2 style="color: #df4759;">Bet Now!</h2>

    <form action="/betting/results" method="POST">

        <label>Name:</label>
        <input type="text" name="name" placeholder="John Smith">
        <br>

        <label>E-mail:</label>
        <input type="text" name="email" placeholder="js123@georgetown.edu">
        <br>

        <label>Age:</label>
        <input type="text" name="age" placeholder="21">
        <br>

        <label>Winner:</label>
        <select id="Winner" name="winner_user_input" placeholder ="Lewis Hamilton">
            <option value="Alexander Albon">Alexander Albon</option>
            <option value="Carlos Sainz">Carlos Sainz</option>
            <option value="Charles Leclerc">Charles Leclerc</option>
            <option value="Daniel Ricciardo">Daniel Ricciardo</option>
            <option value="Esteban Ocon">Esteban Ocon</option>
            <option value="Fernando Alonso">Fernando Alonso</option>
            <option value="George Russell">George Russell</option>
            <option value="Lance Stroll">Lance Stroll</option>
            <option value="Lando Norris">Lando Norris</option>
            <option value="Lewis Hamilton">Lewis Hamilton</option>
            <option value="Max Verstappen">Max Verstappen</option>
            <option value="Mick Schumacher">Mick Schumacher</option>
            <option value="Nicholas Latifi">Nicholas Latifi</option>
            <option value="Nico Hulkenberg">Nico Hulkenberg</option>
            <option value="Pierre Gasly">Pierre Gasly</option>
            <option value="Sebastian Vettel">Sebastian Vettel</option>
            <option value="Sergio Perez">Sergio Perez</option>
            <option value="Valterri Bottas">Valterri Bottas</option>
            <option value="Yuki Tsunoda">Yuki Tsunoda</option>
            <option value="Zhou Guanyu">Zhou Guanyu</option>
        </select>
        <br>

        <label>$ Amount To Wager:</label>
        <input type="text" name="amount" placeholder="5">
        <br>

        <label>Season:</label>
        <input type="text" name="season" placeholder="2022">
        <br>

        <label>Round:</label>
        <input type="text" name="round" placeholder="1">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}