{% extends "bootstrap_layout.html" %}

{% block content %}

    <h2 style="color: #df4759;">Bet Now!</h2>

    <form action="/betting/results" method="POST">

        <label>Name:</label>
        <input type="text" name="name" placeholder="John Smith">
        <br>

        <label>E-mail:</label>
        <input type="text" name="email" placeholder="js123@georgetown.edu">
        <br>

        <label>Age:</label>
        <input type="text" name="age" placeholder="21">
        <br>

        <label>Winner:</label>
        <input type="text" name="winner_user_input" placeholder="Lewis Hamilton">
        <br>

        <label>$ Amount To Wager:</label>
        <input type="text" name="amount" placeholder="5">
        <br>

        <label>Season:</label>
        <input type="text" name="season" placeholder="2022">
        <br>

        <label>Round:</label>
        <input type="text" name="round" placeholder="1">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}