{% extends "bootstrap_layout.html" %}

{% block content %}


    <h2 style="color: #df4759;">Drivers and Manufacturers</h2>
    <p>Check out this season's official F1 line-up! For more information, head to the official <a href="https://www.formula1.com/"> F1 website.</a></p>

        <table>
            <tr>
                <th>Driver</th>
                <th>&nbsp</th>
                <th>Manufacturer</th>
            </tr>
            <tr>
                <td>Charles Leclerc</td>
                <th>&nbsp</th>
                <td>Ferrari</td>
            </tr>
                <td>Max Verstappen</td>
                <th>&nbsp</th>
                <td>Red Bull Racing</td>
            </tr>
                <td>Sergio Perez</td>
                <th>&nbsp</th>
                <td>Red Bull Racing</td>
            </tr>
                <td>George Russell</td>
                <th>&nbsp</th>
                <td>Mercedes</td>
            </tr>
                <td>Lando Norris</td>
                <th>&nbsp</th>
                <td>McLaren</td>
            </tr>
                <td>Carlos Sainz</td>
                <th>&nbsp</th>
                <td>Ferrari</td>
            </tr>
                <td>Lewis Hamilton</td>
                <th>&nbsp</th>
                <td>Mercedes</td>
            </tr>
                <td>Esteban Ocon</td>
                <th>&nbsp</th>
                <td>Alpine</td>
            </tr>
                <td>Valterri Bottas</td>
                <th>&nbsp</th>
                <td>Alfa Romeo</td>
            </tr>
                <td>Daniel Ricciardo</td>
                <th>&nbsp</th>
                <td>McLaren</td>
            </tr>
                <td>Zhou Guanyu</td>
                <th>&nbsp</th>
                <td>Alfa Romeo</td>
            </tr>
                <td>Pierre Gasly</td>
                <th>&nbsp</th>
                <td>AlphaTauri</td>
            </tr>
                <td>Yuki Tsunoda</td>
                <th>&nbsp</th>
                <td>AlphaTauri</td>
            </tr>
                <td>Fernando Alonso</td>
                <th>&nbsp</th>
                <td>Alpine</td>
            </tr>
                <td>Sebastian Vettel</td>
                <th>&nbsp</th>
                <td>Aston Martin</td>
            </tr>
                <td>Lance Stroll</td>
                <th>&nbsp</th>
                <td>Aston Martin</td>
            </tr>
                <td>Carlos Sainz Jr.</td>
                <th>&nbsp</th>
                <td>Ferrari</td>
            </tr>
                <td>Nico Hulkenberg</td>
                <th>&nbsp</th>
                <td>Aston Martin</td>
            </tr>
                <td>Mick Schumacher</td>
                <th>&nbsp</th>
                <td>Haas F1 Team</td>
            </tr>
                <td>Alexander Albon</td>
                <th>&nbsp</th>
                <td>Williams</td>
            </tr>
                <td>Nicholas Latifi</td>
                <th>&nbsp</th>
                <td>Williams</td>
            </tr>
        </table>


{% endblock %}