{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>FORMULA 1 FEVER</title>
</head>
<body>

    <h1 style="color: #df4759;">FORMULA 1 FEVER</h1>

    <p>Upcoming Grand Prix: Miami, May 8 </p>
    <img src="https://www.formula1.com/content/dam/fom-website/Upgrade/Miami/NEW%20Miami_Map.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Miami Grand Prix to join F1 calendar in 2022, with exciting new circuit  planned | Formula 1®" data-noaft="1" style="width: 450px; height: 253.125px; margin: 0px;">

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/betting/form">Bet Now</a></li>
        </ul>
    </nav>


{% endblock %}